<div class="whole">
    <div class="container">
        <div class="collapse-header">
            <button (click)="toggleMenu()" class="toggle-button">
                <i class="pi" [ngClass]="{'pi-angle-double-right':!expandedGraphMenu, 'pi-angle-double-left': expandedGraphMenu}"></i>
            </button>
        </div>
    </div>
    <div class="tools" > 
        <div class="options" id="options">
            <button (click)="openLayers()" class="option-button" [ngClass]="{'active':showLayers && expandedGraphMenu}">
                <i class="pi pi-clone"></i>
            </button>
            <button (click)="openSettings()" class="option-button" [ngClass]="{'active':showSettings && expandedGraphMenu}">
                <i class="pi pi-cog"></i>
            </button>
        </div>
        <app-graph-layers *ngIf="showLayers" class="tool"></app-graph-layers>
        <app-graph-settings *ngIf="showSettings" class="tool"></app-graph-settings>
    </div>
</div>
