<header class="header-container">
  <div class="logo-section">
    <a routerLink="/home" class="logo-link">
      <img
        class="logo-image"
        src="../../assets/horizontal_negativo.png"
        alt="MLS Toolbox"
      />
    </a>
  </div>
  <nav>
    <ul class="nav-bar">
      <li>
        <a routerLink="/home" routerLinkActive="active" class="nav-item-link">Home</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active" class="nav-item-link">About</a>
      </li>
    </ul>
  </nav>
</header>
