 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--gray-900);
  }

  /* Header Styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  /* Navigation Styles */
  nav {
    display: flex;
  }

  nav ul {
    list-style: none;
    display: flex;
  }

  nav ul li {
    margin-right: 20px;
  }

  /* Logo/Header Title Styles */
  h1 {
    margin: 0;
    font-size: 3em;
  }

.container{
    padding: 0px 20% 0px 20%;
    color: white;
    margin: 0%;
    background-color: var(--gray-900);
    border: 0cap;
}

ul.nav-bar{
  list-style: none;
}

ul.nav-bar li{
  display: inline;
  padding: 0px 20px;
}

a.nav-item {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 10px;
}

a.nav-item:hover {
  background-color: white;
  color: var(--gray-900);
}

/* animation on hover move up and scale a little*/
a.nav-item {
  transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
}
