<div style="align-items: center; display: flex; flex-direction: column; gap: 10px;">
    <h2>
        File
    </h2>

    <button pButton class="my-button" (click)="clearEditor()">
        New Empty Pipeline
    </button>
    <button pButton class="my-button" (click)="clearEditor()">
        New Pipeline from Template
    </button>
    <div class="separator">
    </div>
    <button pButton class="my-button" (click)="importPipeline()">
        Load Pipeline
    </button>
    <button pButton class="my-button" (click)="downloadEditor()">
        Save Pipeline
    </button>
    <div class="separator">
    </div>
    <button pButton class="my-button" (click)="generateCode()">
        Generate Pipeline Code
    </button>
</div>