<div class="background-tip" [ngClass]="{transparent: !showTip}">
  Shift + Space to add node
</div>
<p-dialog header="Add node" [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false" 
[style]="{width: '33%'}">
 <ng-template pTemplate="headless">
    <div style="backdrop-filter: blur(5px); background: rgba(255,255,255, 0.2); border-radius: 5px; box-shadow: 0px 0px 200px 0px darkslategray;">
      <h1>
        Add node
      </h1>
      <p-accordion (activeIndexChange)="activeIndexChange($event)" [activeIndex]="openSections">
          <p-accordionTab *ngFor="let category of availableCategories" header="{{category}}">
              <p-button *ngFor="let node of availableNodes.get(category)" [text]="true" (click)="addNode(node)">{{node}}</p-button>
          </p-accordionTab>
      </p-accordion>
      <p-button label="Cancel" [style]="{color: 'white'}"  (click)="closeAddDialog()" [text]="true" ></p-button>
  </div>
 </ng-template>
</p-dialog>