h1 {
    padding-left: 20px;
    font-size: 2em;
    color: buttonface;
    text-shadow: 2px 2px 10px darkslategray, -2px -2px 5px lightgray;
}

.background-tip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background-image: radial-gradient(circle, darkgray 0%, transparent 33%);
    font-weight: bold;
    font-size: xx-large;
    transition: opacity 1.5s ease;
    background-clip: text;
    color: transparent;
    font-style: italic;
    opacity: 100%;

}

.background-tip.transparent{
    opacity: 0%;
}
