.whole {
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: relative;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    padding: 25px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: lightgray;
    box-shadow: inset 0px 0px 25px gray;
    overflow-y: auto;
    gap: 25px;
}
.uploaded-file {
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    gap: 25px;
}

.response {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: whitesmoke;
    padding: 25px;
    gap: 25px;
}