button {
    padding: 10px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: darkslategray;
    border-radius: 0px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
    flex: 1;
    width: 100%;
    font: var(--font-family);
}

button:hover {
    background-color: lightgray;
}

