<h2 style="justify-content: center; display: flex;">
Code generation
</h2>      
<div style="display: flex; flex-direction: column;align-items: center;">
       <button (click)="downloadEditor()">
              Export pipeline model
       </button>
       <input style="display: none" type="file" accept=".json" 
              (change)="onFileLoad($event)" #fileinput>
       <button (click)="fileinput.click()">
              Import pipeline model
       </button>

       <button (click)="generateCode()">
              Generate pipeline code
       </button>
</div>