<div class="whole">
    <div class="container">
        <div class="collapse-header">
            <button (click)="closeProperties()" class="toggle-button">
                <i class="pi pi-times" ></i>
            </button>
        </div>
    </div>
    <div class="tools">
        <h1 style="margin: 10px;">{{selectedNode}}</h1>
        <p style="color: gray; font-style: italic;margin: 0px;margin-left: 10px;">id: {{allNode?.id}}</p>
        <p style="color: gray; font-style: italic;margin: 0px;margin-left: 10px;">Title: {{allNode?.info.info?.title}}</p>
        <h2 style="margin: 10px;">Inputs</h2>

        <div *ngFor="let key of nodeInputKeys" >
            <div *ngIf="allNode?.info.inputs[key]['type'] == 'string'" style="margin: 10px;" >
                <p>
                    {{key}}
                </p>
                <div *ngIf="allNode?.info.inputs[key]['show']">
                    <input pInputText maxlength="55" id="{{key}}" type="text" [(ngModel)]="allNode?.info.inputs[key].value" (ngModelChange)="updateValue(key, $event)"/>
                </div>
                <div *ngIf="!allNode?.info.inputs[key]['show']">
                    <input pInputText id="{{key}}" type="text" [(ngModel)]="allNode?.info.inputs[key].value" (ngModelChange)="updateValue(key, $event)"/>
                </div>
            </div>

            <div *ngIf="allNode?.info.inputs[key]['type'] == 'number'" style="margin: 10px;">
                <p>
                    {{key}}
                </p>
                <p-selectButton
                    [options]="paramOptions"
                    [(ngModel)]="allNode?.info.inputs[key].isParam"
                    (ngModelChange)="updateValue(key, $event, 'isParam')"
                    optionLabel="label"
                    optionValue="value"
                    style="width: 50%;">
                    <ng-template let-item pTemplate>
                        <div style="font-size: small;">{{item.label}}</div>
                    </ng-template>
                </p-selectButton>
                
                <p-inputNumber *ngIf="allNode?.info.inputs[key].isParam == 'custom'"
                    id="{{key}}" mode="decimal" [(ngModel)]="allNode?.info.inputs[key].value" [maxFractionDigits]="2" (ngModelChange)="updateValue(key, $event)"/>

                <p-dropdown *ngIf="allNode?.info.inputs[key].isParam == 'param'" 
                    [(ngModel)]="allNode?.info.inputs[key].paramRef"
                    [options]="nodeParamOptions"
                    optionLabel="label"
                    optionValue="value"
                    (ngModelChange)="updateValue(key, $event, 'paramRef')"/>
            </div>

            <div *ngIf="allNode?.info.inputs[key]['type'] == 'color'" style="margin: 10px;">
                <p>
                    {{key}}
                </p>
                    <p-dropdown [options]="options['color']" optionLabel="color" (onChange)="updateValue(key, $event)">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="allNode?.info.inputs[key].value">
                                <div style="width: 40px; height: 20px; border-radius: 5px;" [ngStyle]="{background: allNode?.info.inputs[key].value}"></div>
                            </div>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div style="width: 40px; height: 20px; border-radius: 5px;" [ngStyle]="{background: option}"></div>
                            </div>
                        </ng-template>
                    </p-dropdown>
            </div>

            <div *ngIf="allNode?.info.inputs[key]['type'] == 'option'" style="margin: 10px;">
                <p>
                    {{key}}
                </p>
                <p-dropdown [options]="options[allNode?.info.inputs[key].optionId]" [filter]="true" (onChange)="updateValue(key, $event)" id="{{allNode?.id}}_{{key}}">
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="allNode?.info.inputs[key].value">
                            {{allNode?.info.inputs[key].value}}
                        </div>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            {{option}}
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

            <div *ngIf="allNode?.info.inputs[key]['type'] == 'option_of_options'" style="margin: 10px;">
                <p>
                    {{key}}
                </p>
                <p-dropdown 
                    [options]="options_of_options[allNode?.info.inputs[key]['optionId']]"
                    [group]="true"
                    optionGroupLabel="category"
                    optionLabel="label"
                    [filter]="true"
                    (onChange)="updateValue(key, $event)">
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="allNode?.info.inputs[key].value">
                            {{allNode?.info.inputs[key].value.label}}
                        </div>
                    </ng-template>
                    <ng-template let-group pTemplate="group">
                        <div class="flex align-items-center">
                            <span>{{ group.label }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
        </div>

    </div>
    <div *ngIf="allNode?.getNodeName() == moduleNodeName;" style="margin: 10px;">
        <p-button label="Edit module" (click)="changeEditor()"></p-button>
    </div>
    <!--div style="margin: 10px; display: flex; justify-content: center;">
        <p-button label="Delete" (click)="deleteNode()">
        </p-button>
    </div-->
</div>
