<div class="whole">
    <div class="container">
        <div class="collapse-header">
            <button (click)="closeProperties()" class="toggle-button">
                <i class="pi pi-times" ></i>
            </button>
        </div>
    </div>
    <div class="tools">
        <h1 style="margin: 10px; user-select: none;">{{selectedNode}}</h1>
        <p style="color: gray; font-style: italic;margin: 0px;margin-left: 10px; user-select: none;">id: {{allNode?.id}}</p>
        <p style="color: gray; font-style: italic;margin: 0px;margin-left: 10px; user-select: none;">Title: {{allNode?.info?.title}}</p>
        <h2 style="margin: 10px; margin-top: 15px; margin-bottom: 0px; user-select: none;">Inputs</h2>

        <div *ngFor="let key of nodeInputKeys" >
            <p style="margin-left: 10px;">
                {{key}}
            </p>

            <div *ngIf="allNode?.params[key]['type'] == 'description'" style="margin: 10px;" >
                <input pInputText id="{{key}}" type="text" [value]="allNode?.params[key].value" (input)="updateValue(key, $event)"/>
            </div>
            
            <div *ngIf="allNode?.params[key]['type'] == 'string'" style="margin: 10px;" >
                <p-selectButton
                    [options]="paramOptions"
                    [optionValue]="allNode?.params[key].isParam.value"
                    [optionLabel]="allNode?.params[key].isParam.label"
                    (onChange)="updateOption($event, key, 'isParam')">
                    <ng-template let-item pTemplate>
                        <div style="font-size: small;">{{item.label}}</div>
                    </ng-template>
                </p-selectButton>

                <input *ngIf="allNode?.params[key].isParam != 'parameter'" 
                    pInputText id="{{key}}" type="text" [value]="allNode?.params[key].value" (input)="updateValue(key, $event)"/>
                <input *ngIf="allNode?.params[key].isParam == 'parameter'"
                    pInputText id="{{key}}" type="text" [value]="allNode?.params[key].param_label" (input)="updateParam(key, $event)"/>
            </div>

            <div *ngIf="allNode?.params[key].type == 'number'" style="margin: 10px;">
                <p-selectButton
                    [options]="paramOptions"
                    [optionValue]="allNode?.params[key].isParam"
                    (input)="updateValue(key, $event, 'isParam')"
                    optionLabel="label"
                    optionValue="value">
                    <ng-template let-item pTemplate>
                        <div style="font-size: small;">{{item.label}}</div>
                    </ng-template>
                </p-selectButton>
                <p-inputNumber *ngIf="allNode?.params[key].isParam != 'parameter'"
                    id="{{key}}" mode="decimal" [(ngModel)]="allNode?.params[key].value" [maxFractionDigits]="2" (input)="updateValue(key, $event)"/>

                <input *ngIf="allNode?.params[key].isParam == 'parameter'"
                    pInputText id="{{key}}" type="text" [value]="allNode?.params[key].param_label" (input)="updateParam(key, $event)"/>
            </div>

            <div *ngIf="allNode?.params[key]['type'] == 'color'" style="margin: 10px;">
                <p-dropdown [options]="options.color" optionLabel="color" (onChange)="updateOption($event, 'color')">
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="allNode?.params[key].value">
                            <div style="width: 40px; height: 20px; border-radius: 5px;" [ngStyle]="{background: allNode?.params[key].value}"></div>
                        </div>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div style="width: 40px; height: 20px; border-radius: 5px;" [ngStyle]="{background: option}"></div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

            <div *ngIf="allNode?.params[key].type == 'option'" style="margin: 10px;">
                <p-dropdown [options]="options[allNode?.params[key].optionId]" [filter]="true" (onChange)="updateOption($event, key)" id="{{allNode?.id}}_{{key}}">
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="allNode?.params[key].value">
                            {{allNode?.params[key].value}}
                        </div>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            {{option}}
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

            <div *ngIf="allNode?.params[key].type == 'option_of_options'" style="margin: 10px;">
                <p-dropdown 
                    [options]="options_of_options[allNode?.params[key]['optionId']]"
                    [group]="true"
                    optionGroupLabel="category"
                    optionLabel="label"
                    optionValue="value"
                    [filter]="true"
                    (onChange)="updateOption($event, key)">
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="allNode?.params[key].value">
                            {{allNode?.params[key].value}}
                        </div>
                    </ng-template>
                    <ng-template let-group pTemplate="group">
                        <div class="flex align-items-center">
                            <span>{{ group.label }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

            <div *ngIf="allNode?.params[key]['type'] == 'list'" style="margin: 10px;" >
                <p-selectButton
                    [options]="paramOptions"
                    [optionValue]="allNode?.params[key].isParam.value"
                    [optionLabel]="allNode?.params[key].isParam.label"
                    (onChange)="updateOption($event, key, 'isParam')">
                    <ng-template let-item pTemplate>
                        <div style="font-size: small;">{{item.label}}</div>
                    </ng-template>
                </p-selectButton>
                <div *ngIf="allNode?.params[key].isParam != 'parameter'">
                    <div *ngFor="let item of allNode?.params[key].value; let index = index; trackBy: trackByFn">
                        <div >
                            <input pInputText type="text" [value]="item" (input)="updateList(key, $event, index)" style="width: 230px;"/>
                            <p-button p-icon icon="pi pi-times" (click)="removeItemFromList(key, index)"></p-button>
                        </div>
                    </div>
                    <button class="add-list-button" (click)="addItemToList(key)">
                        Add item
                    </button>
                </div>

                <input *ngIf="allNode?.params[key].isParam == 'parameter'"
                    pInputText id="{{key}}" type="text" [value]="allNode?.params[key].param_label" (input)="updateParam(key, $event)"/>
                
            </div>

            <div *ngIf="allNode?.params[key]['type'] == 'map'" style="margin: 10px;" >
                <p-selectButton
                    [options]="paramOptions"
                    [optionValue]="allNode?.params[key].isParam.value"
                    [optionLabel]="allNode?.params[key].isParam.label"
                    (onChange)="updateOption($event, key, 'isParam')">
                    <ng-template let-item pTemplate>
                        <div style="font-size: small;">{{item.label}}</div>
                    </ng-template>
                </p-selectButton>
                <div *ngIf="allNode?.params[key].isParam != 'parameter'">
                    <div *ngIf="allNode?.params[key].value.length" style="display: flex;">
                        <p style="width: 20%; font-style: italic;">
                            Key
                        </p>
                        <p style="width: 60%; font-style: italic;">
                            Value
                        </p>
                    </div>
                    <div *ngFor="let item of allNode?.params[key].value ; let index = index; trackBy: trackByFn">
                        <div >
                            <input pInputText type="text" [value]="item.key"   (input)="updateMap(key, 'key', $event, index)" style="width: 20%;"/>
                            <input pInputText type="text" [value]="item.value" (input)="updateMap(key, 'value', $event, index)" style="width: 60%;"/>
                            <p-button p-icon icon="pi pi-times" (click)="removeItemFromList(key, index)" [ngStyle]="{'width': '10%'}"></p-button>
                        </div>
                    </div>
                    <button class="add-list-button" (click)="addItemToMap(key)">
                        Add item
                    </button>
                </div>
                <input *ngIf="allNode?.params[key].isParam == 'parameter'"
                    pInputText id="{{key}}" type="text" [value]="allNode?.params[key].param_label" (input)="updateParam(key, $event)"/>
            </div>
            
    </div>
    <div *ngIf="allNode?.getNodeName() == moduleNodeName;" style="margin: 10px; align-self: center;">
        <p-button label="Edit step" (click)="changeEditor()"></p-button>
    </div>
    <!--div style="margin: 10px; display: flex; justify-content: center;">
        <p-button label="Delete" (click)="deleteNode()">
        </p-button>
    </div-->
</div>
