
<div style="display: flex; flex-direction: row; justify-content: space-around;">
    <div style="flex-direction: column; display: flex; align-items: center;"> 
        <label>Score</label>
        <p-knob [(ngModel)]="response[0].score" [min]="0" [max]="10" [readonly]="true" />
    </div>
    <div style="flex-direction: column; display: flex; align-items: center;">
        <label>
            Modules linted
        </label>
        <h1>
            {{ response[0].module_count }}
        </h1>
    </div>
</div>

<p-table [value]="response" [tableStyle]="{ 'min-width': '66%' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Convention</th>
            <th>Error</th>
            <th>Fatal</th>
            <th>Info</th>
            <th>Refactor</th>
            <th>Warning</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.message_count.convention }}</td>
            <td>{{ product.message_count.error }}</td>
            <td>{{ product.message_count.fatal }}</td>
            <td>{{ product.message_count.info }}</td>
            <td>{{ product.message_count.refactor }}</td>
            <td>{{ product.message_count.warning }}</td>
            <td>
                <p-button (onClick)="getFullReport()" [disabled]="fetching" *ngIf="!fetching">
                    Download Report
                </p-button>
                <p-button (onClick)="getFullReport()" [disabled]="fetching" *ngIf="fetching">
                    Preparing report
                </p-button>
            </td>
        </tr>
    </ng-template>
</p-table>

