div {
  display: inline-block;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 50%;
  transition: all .5s ease;
}
