.module-selector{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    justify-content: left;
    text-align: left;
}


.toggle-button {
    border-style: solid;
    border-color: darkslategray;
    border-width: 0px 0px 1px 0px;
    padding: 10px;
    font-weight: bold;
    transition: all .5s ease;
}

.toggle-button:hover {
    background-color: lightgray;
}

.toggle-node {
    flex: 1;
    border-style: solid;
    border-color: gray;
    border-width: 0px 0px 1px 0px;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
}

.toggle-node:hover {
    background-color: lightgray;
}
