
/* css reset */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: buttonface;
    --primary-color : rgb(0, 32, 96);
    --light-blue : rgb(153,204,204);
    --yellow-accent : rgb(255, 204, 0);
}

h1, h2, h3, h4, h5, h6, button {
    --primary-color : rgb(0, 32, 96);
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.p-button {
    background-color: var(--primary-color);
    color: var(--light-blue);
}

.p-button.p-highlight {
    background-color: var(--light-blue);
    color: var(--primary-color);
}