
:host {
    display: block;
    border: 2px solid grey;
    border-radius: 12px;
    cursor: pointer;
    height: auto;
    padding: 0px;
    position: relative;
    background-color: rgba(255, 255, 255, .2);
    transition: background-color .5s ease;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    min-width: 120px;
    user-select: none;
    
}

:host:hover {
    background-color: rgba(255, 255, 255, .5);
}

:host.selected{
    background-color: rgba(0, 0, 0, .5);
}

.node-title {
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    text-align: center;
    box-shadow: inset 0px -30px 25px -25px rgba(255, 255, 255,0.25);
    filter: opacity(75%);
    overflow: hidden;
}

.node-descrpition {
    color: darkslategray;
    font-size: 12px;
    font-style: italic;
    padding: 5px;
    text-align: left;
    overflow: hidden;
}

:host .output {
    text-align: right;
    margin-right: -10px;
}

:host .input {
    text-align: left;
    margin-left: -10px;
}

:host .input, .output {
    border-radius: 5px;
}

:host .output-socket {
    margin-right: -1px;
    display: inline-block;
    text-align: right;
}

:host .input-socket {
    text-align: left;
    margin-left: -1px;
    display: inline-block;
}

:host .input-title, .output-title {
    vertical-align: middle;
    color: darkslategray;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    margin: 4px;
    line-height: 20px;
}

:host .input-control {
    z-index: 1;
    width: calc(100% - 20px);
    vertical-align: middle;
    display: inline-block;
}

:host .control{
    padding: 3px;
    border-radius: 0px;
}