<app-header></app-header>
<div class="content">
    <div class="container">
        <h1>Welcome to the MLS Toolbox</h1>
    <p>MLS Toolbox is a collection of tools for MLOps mantaining good software engineering practices.</p>
    </div>
</div>
<!-- button that goes to the graph page-->
<div class="features">
    <ul class="features-list">
        <li>
            <app-feature-button 
                [iconClass]="'pi-sitemap'"
                [header]="'Code generator'" 
                [text]="'Node-based code generator'"
                [routePath]="'/pipeline_generator'"> <!-- Provide the route path -->
            </app-feature-button>
        </li>

        <li>
            <app-feature-button 
                [iconClass]="'pi-align-left'"
                [header]="'Code Assessment'" 
                [text]="'Automatic code assessments'"
                [routePath]="'/assess'"> <!-- Provide the route path -->
            </app-feature-button>
        </li>
        <li>
            <app-feature-button 
                [iconClass]="'pi-cog'"
                [header]="'New Feature'" 
                [text]="'Work in progress!'"
                [routePath]="'/'"> <!-- Provide the route path -->
            </app-feature-button>
        </li>
    </ul>
</div>